.git
.gitignore
node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/.turbo
coverage
.nyc_output
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
